<div class="container mt-3">
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6">
      <h2>Experience new <span class="underline-blue">sports</span> thanks to your <span class="underline-blue">neighbours</span></h2>
      <p class="mt-3">Vizi is a collaborative plateform where you can rent or sell you sports equipment, for your neighbours to enjoy them!</p>
      <%= link_to "Discover", items_path, class: "btn btn-vizi mt-3" %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="photos-grid">
        <img src="https://images.unsplash.com/photo-1526961509099-2bf3cd634392?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=688&q=80" alt="surf">
        <img src="https://images.unsplash.com/photo-1507034589631-9433cc6bc453?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="climb">
        <img src="https://images.unsplash.com/photo-1510925758641-869d353cecc7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80" alt="arrow">
        <img src="https://images.unsplash.com/photo-1498484502070-2165cb42d504?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80" alt="skate">

      </div>
    </div>

  </div>

</div>
