
.select2-container--default .select2-selection--multiple {
  border-radius: 1px !important;
  border-color: 1px solid #F4F4F4;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
