
.select2-container--default .select2-selection--multiple {
  border-radius: 50px !important;
  border-color: 1px solid #CCC;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
